@import '../../styles/theme.scss';

.container{
  width: 100%;
  margin-top: 50px;
  overflow-x: hidden;
    & .title{
      width: 90%;
      margin-top: 50px;
      margin-left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-size: 1.5rem;
        @media(min-width: 1024px){
        width: 70%;
        font-size: 3rem;
        }
    }
    & .body{
      width: 90%;
      margin-top: 80px;
      margin-left: 50%;
      transform: translateX(-50%);
      text-align: justify;
      font-size: 0.9rem;
      line-height: 25px;
        & p , & b{
          font-family: 'Verdana', sans-serif;
        }
        p:nth-child(1){
          &::first-letter{
          font-family: 'Verdana', sans-serif;
          font-size: 4rem;
          font-weight: 600;
          margin: 5px 10px;
          float: left;
          text-shadow: 5px 3px 0px $clr-main;
        }
        }
        a{
          text-decoration: underline !important;
          font-style: italic;
          cursor: pointer;
            &:hover{
              color: $clr-main;
            }
        }
        @media(min-width: 1024px){
          width: 70%;
          font-size: 1rem;
        }
        img{
          width: 100%; height: auto;
          margin: 40px 0px;
          background-color: #cccbcb;
          background: linear-gradient(to right, #cccbcb 0%, #f2f2f2 20%, #cccbcb 40%, #cccbcb 100%);
          animation: skeletonImg 3s infinite forwards linear;
          @media(min-width: 1024px){
            width: 80%;
            margin-left: 10% !important;
          }
        }
        h2 , h3{
          margin: 40px 0px 20px 0px;
          border-left: 5px solid $clr-main;
          padding: 5px 0px 5px 5px;
        }
        h2{
          position: sticky;
          top: 0;
          z-index: 2;
          background: #f6f6f6;
        }
        h3{
          margin-left: 10px;
        }
        code{
          background: #eaeaea;
          color: #1a1a1a;
          padding: 0px 3px;
          border-radius: 5px;
          font-family: consolas, monospace !important;
          display: inline-block;
        }
        pre{
          width: 80%;
          margin-left: 50%;
          transform: translateX(-50%);
          background: #282c34;
          color: #dadada;
          display: block;
          border-radius: 10px;
          margin-top: 30px;
          margin-bottom: 30px;
            &::before{
              content: "";
              width: 15px; height: 15px;
              border-radius: 50%;
              background: #ff5f5a;
              position: absolute;
              margin: 15px;
            }
            &::after{
              content: "";
              width: 15px; height: 15px;
              border-radius: 50%;
              background: #ffbe2e;
              position: absolute;
              inset: 0;
              margin: 15px 40px;
            }
          & span{
            padding: 5px 15px;
            font-family: consolas, monospace;
            display: block;
            font-size: 0.8rem;
              @media(min-width: 1024px){
                font-size: 1rem;
              }
            &::after{
              content: "";
              width: 15px; height: 15px;
              border-radius: 50%;
              background: #2aca44;
              position: absolute;
              inset: 0;
              margin: 15px 65px;
            }
              &:nth-child(1){
                padding-top: 40px;
              }
          }
        }
        video{
          width: 100%; height: auto;
          margin-top: 20px; margin-bottom: 20px;
          background-color: #cccbcb;
          background: linear-gradient(to right, #cccbcb 0%, #f2f2f2 20%, #cccbcb 40%, #cccbcb 100%);
          animation: skeletonImg 3s infinite forwards linear;
        }
    }
}
.dateArticle{
  font-size: 0.8rem;
  width: 90%;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
  @media(min-width: 1024px){
    width: 70%;
    font-size: 1rem;
  }
}
.author{
  font-size: 0.8rem;
  font-weight: 400;
  @media(min-width: 1024px){
    font-size: 1rem;
  }
}
.timeRead{
  font-style: italic;
  font-weight: 300;
  font-size: 0.9rem;
}
.containerLink{
  width: 100%;
  margin-top: 30px;
    & .titlelinks{
      padding: 10px;
      text-align: center;
      font-size: 1rem;
      display: block;
    }
    & .iconsLinks{
      width: 185px;
      margin-left: 50%;
      transform: translateX(-50%);
      & .link{
        display: inline-block;
          padding: 6px 10px 3px 10px;
          border-radius: 10px;
          text-align: center;
          text-decoration: underline;
          margin: 0px 5px;
          opacity: .7;
          border: 1px solid #000000;
            &:hover{
              opacity: 1;
            }
        }
    }
}
@keyframes skeletonImg{
  0%{
      background-position: 0px 0px;
  }
  100%{
      background-position: 900px 0px;
  }
}
@media (prefers-color-scheme:dark){
  .link{
    filter: invert(100);
  }
  .container{
    & .body h2{
      background: #130d17;
    }
  }
}