*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	color: #f2f2f2;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 75ch;
	text-align: left;
	background-color: #130D17;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}
picture,
video{
	width: 100%;
	padding: 10px 0px;
}
.iconAstro{
	width: 24px; height: 24px;
}
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(30px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-30px); }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}