---
import IconSearch from '../components/icons/IconSearch.astro'
import { getCollection } from 'astro:content'
import ShortKey from '../components/ShortKey.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---
<form
  id="searchForm"
  autocomplete="off"
  >
  <label for="searchInput"><span><IconSearch /></span></label>
  <input
    list="articles"
    type="search"
    name="search"
    id="searchInput"
    placeholder="Buscar artículo"
    tabindex="0"
    >
    <datalist id="articles">
      {posts.map((post) => {
        return <option value={post.data.title}></option>
      })}
    </datalist>
    <ShortKey key="k" command="Ctrl" />
</form>
<script>
  const searchForm = document.getElementById('searchForm')

searchForm.addEventListener('submit', (event) => {
    event.preventDefault()
    const searchInput = document.getElementById('searchInput').value
    const search = normalizeSearch(searchInput) // Normalizar la búsqueda

    const searchRedirect = `blog/${search}`
    window.location.href = searchRedirect
})

// Función para normalizar la búsqueda
function normalizeSearch(search) {
    // Reemplazar caracteres acentuados por sus equivalentes sin acento
    const normalizedSearch = search.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
    // Reemplazar espacios en blanco con guiones y convertir a minúsculas
    return normalizedSearch.replace(/\s+/g, '-').toLowerCase()
}

  // Short Key
  function ShortKey(event:any){
  if(event.key === 'k' && event.ctrlKey){
    event.preventDefault()
    document.getElementById('searchInput').focus()
  }
}
window.addEventListener('keydown', ShortKey)
</script>